body {
    background-color: black;
    overflow: hidden;
}

.parallax {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#characterflex {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    z-index: 1;
    height: 90%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: 'Rubik';
    width: 100%;
    margin: 0;
}

.side-panel-toggle {
    position: absolute;
    top:5px;
    right:5px;
    height: 40px;
    text-align: center;
    font-family: 'Rubik';
    border-radius: 5px;
    z-index: 1;
    place-items: center;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

.side-panel-toggle.bowtop {
    background: #f8b600;
}

.side-panel-toggle.craythebunny {
    background:#2bd850
}

.chrname {
    font-family: 'Coolvetica';
    font-size: 32px;
}

.hyperlinkbox {
    opacity: 100%;
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.boximg {
    width:100%;
    height:100%;
    transition: 0.2s all;
}

.boximg:hover {
    opacity:70%;
}

#grid {
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    height: 100%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#boxflex {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center
}

.chrbox {
    height: 8vw;
    border-radius: 5px;
    display:flex;
    z-index: 1;
    background-size: contain;
    width: 8vw;
    border: 2px solid white;
    background-color: black;
}

.parallax.bowtop {
    background-image: url(../images/bowtopbg.png);
    background-size: 350px;
}

.textalign {
    position:relative;
    display:block;
    z-index:2;
    font-size: 1vw;
    color: rgb(145, 196, 255);
    text-decoration: none;
}

.textalign:hover {
    color: rgb(81, 137, 201);
}

.textcontainer {
    height: 0%;
    z-index: 1;
    color: white;
}

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    right: 0;
    border-left:none;
    background-image: url(../images/fadebowtoppanelbg.png);
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-color: rgb(17, 17, 17);
    overflow: hidden;
    transition: 0.5s all;
    padding-top: 60px;
}

.sidepanel .closebtn {
    position: absolute;
    text-decoration: none;
    color: white;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.sidepanel .closebtn:hover {
    color: rgb(182, 182, 182);
}

.aboutname {
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: 'Rubik';
}

.personality {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Rubik';
}

.description {
    color: white;
    margin-top: 5%;
    font-size: 1rem;
    white-space: wrap;
    font-family: 'Rubik';
}

#pagination {
    position: absolute;
    bottom: 0;
    display:flex;
    width: 100%;
    justify-content: center;
}

#pagination.bowtop a {
    background-color: #5a3e0b;
    border:none;
    margin-left:5px;
}

.pagination.bowtop a.active {
    background-color: #eeba5a;
}

#pagination.craythebunny a {
    background-color: #1b5a0b;
    border:none;
    margin-left:5px;
}

#pagination.craythebunny a.active {
    background-color: #5fee5a;
}

@media only screen and (max-width: 600px) {
    .chrbox {
        width: 8vh;
        height: 8vh;
    }

    #li-1,
    #li-2,
    #li-3 {
        font-size: 1.5vh;
    }

    .textalign {
        font-size: 1.5vh;
    }

    .videoplayer {
        width: 40vh;
        height: 20vh;
    }

    .videolist {
        width: 15vh;
        height: 15vh;
    }

    .vid {
        width: 5vh;
        height: 2vh;
    }

    .title {
        font-size: 1vh;
        margin: 0;
    }

    #grid {
        grid-template-columns: auto auto auto;
    }
}