html,
body {
    min-height: 100vh;
}

p {
    margin:0;
}

body {
    background-color: black;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

.parallax {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#characterflex {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    z-index: 1;
    height: 90%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#title {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 3rem;
    z-index: 1;
    font-family: 'Coolvetica';
    margin: 0;
}

.side-panel-toggle {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 50px;
    text-align: center;
    font-family: 'Rubik';
    border-radius: 25px;
    z-index: 2;
    place-items: center;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

.side-panel-toggle.bowtop {filter: hue-rotate(174deg) saturate(4) drop-shadow(0px 4px 0.2px #64281e);}
.side-panel-toggle.bowtop:active {filter: hue-rotate(174deg) saturate(4) brightness(0.8);top: 9px;}
.side-panel-toggle.bowtopwinter {filter: hue-rotate(328deg) saturate(4) drop-shadow(0px 4px 0.2px #1e4e64);}
.side-panel-toggle.bowtopwinter:active {filter: hue-rotate(328deg) saturate(2); top: 9px;}
.side-panel-toggle.craythebunny {filter: hue-rotate(259deg) drop-shadow(0px 4px 0.2px #205019);}
.side-panel-toggle.craythebunny:active {filter: hue-rotate(259deg) brightness(0.8); top: 9px;}
.side-panel-toggle.grimace {filter: hue-rotate(22deg) drop-shadow(0px 4px 0.2px #5838af)}
.side-panel-toggle.grimace:active {filter: hue-rotate(22deg) brightness(0.8);top: 9px;}
.side-panel-toggle.teaveese { filter: hue-rotate(127deg) saturate(0.5) drop-shadow(0px 4px 0.2px #3a292a)}
.side-panel-toggle.teaveese:active { filter: hue-rotate(127deg) saturate(0.5) brightness(0.8); top: 9px; }
.side-panel-toggle.shayloubelittle { filter: hue-rotate(311grad) brightness(1.50) drop-shadow(0px 4px 0.2px #33704e);}
.side-panel-toggle.shayloubelittle:active { filter: hue-rotate(311grad) brightness(0.8); top: 9px; }
.side-panel-toggle.hasami { filter: hue-rotate(135grad) saturate(1.6) drop-shadow(0px 4px 0.2px #441717);}
.side-panel-toggle.hasami:active { filter: hue-rotate(135grad) saturate(1.6) brightness(0.8); top: 9px; }
.side-panel-toggle.checkya { filter: saturate(0.8) drop-shadow(0px 4px 0.2px #253346);}
.side-panel-toggle.checkya:active { filter: saturate(0.8) brightness(0.8); top: 9px; }

.chrname {
    font-family: 'Coolvetica';
    font-size: 32px;
}

a.tabs{
    font-family: 'ProtoPixel';
    text-decoration: none; 
    color: rgb(202, 48, 182);
    transition:all 0.2s;
    font-size:25px;
}

a.tabs.disabled{
    font-family: 'ProtoPixel';
    text-decoration: none; 
    color: rgb(99, 24, 52);
    transition:none;
    font-size:25px;
}

a.tabs.disabled:hover {
    color: rgb(99, 24, 52);
    cursor: default;
}

a.tabs:hover {
    color:#722174;
}

.hyperlinkbox {
    opacity: 100%;
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.boximg {
    width: 100%;
    background: url(../images/noimg.png) center / 64px no-repeat;
    height: 100%;
    transition: 0.2s opacity;
}


.boximg:hover {
    opacity: 70%;
}

#grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    ;
    justify-content: center;
    align-items: center;
    justify-items: center;
    column-gap: 2%;
    height: 80vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#boxflex {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
}

.chrbox {
    height: 10vw;
    border-radius: 5px;
    display: block;
    z-index: 1;
    flex-wrap: wrap;
    justify-content: center;
    background-size: 64px;
    width: 10vw;
    border: 2px solid white;
    background-color: black;
}

.parallax.bowtop {
    background-image: url(../images/bowtopbg.png);
    background-size: 350px;
}

.parallax.bowtopwinter {
    background-image: url(../images/winterbowtopbg.webp);
    background-size: 350px;
}

.parallax.craythebunny {
    background-image: url(../images/craybg.png);
    background-size: 350px;
}

.parallax.grimace {
    background-image: url(../images/bggrimace.png);
    background-size: 350px;
}

.parallax.teaveese {
    background-image: url(../images/teaveesebg.webp);
    background-size: 350px;
}

.parallax.shayloubelittle {
    background-image: url(../images/shayloubg.webp);
    background-size: 350px;
}

.parallax.hasami {
    background-image: url(../images/hasamibg.webp);
    background-size: 350px;
}

.parallax.checkya {
    background-image: url(../images/checkyabg.webp);
    background-size: 350px;
}

.textalign {
    position: relative;
    display: block;
    z-index: 2;
    font-size: 1vw;
    color: rgb(145, 196, 255);
    text-decoration: none;
}

#titleflex {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 1%;
    width: 100%;
}

.textalign:hover {
    color: rgb(81, 137, 201);
}

.textcontainer {
    height: 0%;
    z-index: 1;
    color: white;
}

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 3;
    height: 100%;
    top: 0;
    right: 0;
    border-left: none;
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-color: rgb(17, 17, 17);
    overflow: hidden;
    transition: 0.5s all;
    padding-top: 60px;
}

.sidepanel.bowtop {
    background-image: url(../images/fadebowtoppanelbg.png);
}
.sidepanel.winterbowtop {
    background-image: url(../images/fadewinterbowtoppanelbg.webp);
}

.sidepanel.craythebunny {
    background-image: url(../images/fadecraypanelbg.png);
}

.sidepanel.grimace {
    background-image: url(../images/fadebggrimace.png);
}

.sidepanel.teaveese {
    background-image: url(../images/teaveesefadeoutbg.webp);
}


.sidepanel .closebtn {
    position: absolute;
    text-decoration: none;
    color: white;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.sidepanel .closebtn:hover {
    color: rgb(182, 182, 182);
}

.aboutname {
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: 'Rubik';
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.personality {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Rubik';
}

.description {
    color: white;
    margin-top: 5%;
    font-size: 1rem;
    font-family: 'Rubik';
    width: 85%;
}

#pagination {
    bottom: 3%;
    display: flex;
    justify-content: center;
}

#pagination.bowtop a {
    background-color: #5a3e0b;
    border: none;
    margin-left: 5px;
}

#pagination.bowtop a.active {
    background-color: #eeba5a;
}

#pagination.bowtopwinter a {
    background-color: #61a7c2;
    border: none;
    margin-left: 5px;
}

#pagination.bowtopwinter a.active {
    background-color: #6bc5e9;
}

#pagination.craythebunny a {
    background-color: #1b5a0b;
    border: none;
    margin-left: 5px;
}

#pagination.craythebunny a.active {
    background-color: #4db433;
}

#pagination.grimace a.active {
    background-color: #8e87ec;
}

#pagination.grimace a {
    background-color: #5c5991;
    border: none;
    margin-left: 5px;
}

#pagination.teaveese a.active {
    background-color: #946a52;
}

#pagination.teaveese a {
    background-color: #4b372b;
    border: none;
    margin-left: 5px;
}

#pagination.shayloubelittle a.active {
    background-color: #7cf8a1;
}

#pagination.shayloubelittle a {
    background-color: rgb(32, 78, 47);
    border: none;
    margin-left: 5px;
}

#pagination.hasami a.active {
    background-color: rgb(163, 163, 163);
}

#pagination.hasami a {
    background-color: rgb(92, 92, 92);
    border: none;
    margin-left: 5px;
}

#pagination.checkya a.active {
    background-color: #5b7fb1;
}

#pagination.checkya a {
    background-color: #253346; 
    border: none;
    margin-left: 5px;
}


@media only screen and (max-width: 600px) {
    #pagination a {
        padding: 3px 12px;
    }

    #pagination {
        bottom: 0;
    }

    .chrbox {
        width: 8vh;
        height: 8vh;
    }

    #li-1,
    #li-2,
    #li-3 {
        font-size: 1.5vh;
    }

    #mySidePanel {
        width: 100%;
    }

    .textalign {
        font-size: 1.5vh;
    }

    #titleflex {
        width: fit-content;
        margin-left: 10%;
    }

    #title {
        font-size: 4vh;
        position: relative;
        text-align: left;
    }

    #grid {
        grid-template-columns: auto auto auto;
        height: 72vh;
        margin: 1vh 0 0 0 0;

    }

    .personality {
        font-size: 2vh;
    }

    .description {
        font-size: 1.7vh;
        width: 85%;
    }
}