body {
    background-color: black;
    overflow: hidden;
}

.parallax {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#characterflex {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    z-index: 1;
    height: 90%;
    width:100%;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: 'Rubik';
    width:100%;
    margin:0;
}

.hyperlinkbox {
    width:100%;
    height:100%;
    display:block;
}

.chrbox {
    height: 12vw;
    border-radius: 5px;
    z-index: 1;
    background-size: contain;
    width: 12vw;
    border: 2px solid white;
}

.textalign {
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 1));
    font-weight: 500;
    font-size: 20px;
    color: white;
    letter-spacing: 2;
    font-family: 'VHS';
}

.textcontainer {
    position: relative;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .chrbox {
        width: 12vh;
        height: 12vh;
    }
    #li-1,#li-2,#li-3 {
        font-size:1.5vh;
    }
    .textalign {
        font-size: 1.5vh;
    }
    .videoplayer {
        width: 40vh;
        height:20vh;
    }
    .videolist {
        width:15vh;
        height: 15vh;
    }
    .vid {
        width:5vh;
        height:2vh;
    }
    .title {
        font-size:1vh;
        margin:0;
    }
}