body {
    background-color: black;
    overflow: hidden;
}

.videoplayer {
    width: 60vw;
    padding: 15px;
    height: 36vw;
    border: 3px solid rgb(41, 41, 41);
    border-radius: 6px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    overflow: hidden;
}

.videolist {
    width: 26rem;
    height: 70vh;
    overflow-y: scroll;
    padding: 15px;
    border: 3px solid white;
    border-radius: 6px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}

.videolist::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.videolist::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.textcontainer:hover {
    opacity: 70%;
}

.videolist::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

.parallax {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#galflex-3 {
    position: absolute;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 27% 27% 27%;
    width: 100%;
    height: 90%;
    z-index: 2;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

#galflex-1 {
    position: absolute;
    z-index: 1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

#galflex-2 {
    position: relative;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    width: 100%;
    height: 90%;
    z-index: 2;
    gap: 35px;
    align-items: center;
    justify-content: center;
}

.vid {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    padding: 10px;
    border: 2px solid white;
    cursor: pointer;
    justify-content: center;
}

.vid.active {
    background-color: rgb(71, 71, 4);
}

.vid:active {
    background-color: rgb(160, 160, 49);
}

.videolist.vid video {
    width: 0px;
    border-radius: 5px;
}

.title {
    font-family: 'Rubik';
    width: 100%;
    margin: 0;
}

#pagination {
    position: absolute;
    bottom: 0;
    display:flex;
    width: 100%;
    justify-content: center;
}

#pagination a {
    color: rgb(255, 255, 255);
    float: left;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Rubik';
    background-color: #393a19;
    transition: background-color .3s;
    border: 1px solid #0e0d00;
}

#pagination a.active {
    color: rgb(0, 0, 0);
    background-color: #eedf5a;
    color: white;
}

.source {
    display: none;
}

iframe {
    border: none;
}

#li-1,
#li-2,
#li-3 {
    display: inline;
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: bolder;
    border: 2px solid white;
    padding: 8px;
    border-radius: 4px;
    z-index: 2;
}

li {
    display: none;
}

ul {
    margin: 0;
}

#btns {
    padding: 0;
    margin: 0;
    column-gap: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-list-item {
    background-color: #969696;
    transition: 0.3s;
    cursor: default;
}

.deactive-list-item {
    background-color: #000000;
    transition: 0.5s;
    cursor: pointer;
}

.hyperlinkbox {
    width: 100%;
    height: 100%;
    z-index: 3;
    display:block;
    position: relative;
}

.chrbox {
    height: 10em;
    border-radius: 5px;
    z-index: 1;
    background-size: contain;
    width: 10em;
    border: 2px solid white;
    background-repeat: no-repeat;
    background-position: center;
}

.artbox {
    background-size: cover;
    height: 10em;
    border-radius: 5px;
    z-index: 1;
    width: 10em;
    border: 2px solid white;
    background-repeat: no-repeat;
}

.boximg {
    height: 100%;
    transition: 0.2s opacity;
}

.boximg:hover {
    opacity: 70%;
}

#galflex-1[shown="false"],
#galflex-2[shown="false"],
#galflex-3[shown="false"] {
    display: none;
}

#galflex-1[shown="true"] {
    display: flex;
}

#galflex-2[shown="true"],
#galflex-3[shown="true"] {
    display: grid;
}

.textalign {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: -18%;
    right: 0;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 1));
    font-weight: 500;
    font-size: 20px;
    color: white;
    letter-spacing: 2;
    font-family: 'VHS';
}

.textcontainer {
    position: relative;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .chrbox, .artbox {
        width: 12vh;
        height: 12vh;
    }

    #li-1,
    #li-2,
    #li-3 {
        font-size: 1.5vh;
    }

    .textalign {
        font-size: 1.5vh;
    }

    .videoplayer {
        width: 40vh;
        height: 20vh;
    }

    .videolist {
        width: 15vh;
        height: 15vh;
    }

    .vid {
        width: 5vh;
        height: 2vh;
    }

    .title {
        font-size: 1vh;
        margin: 0;
    }

    #galflex-2,
    #galflex-3 {
        grid-template-columns: auto auto auto;
        grid-template-rows: 23% 23% 23%;
    }
}