a {
    font-family: 'Courier New', Courier, monospace;
}

.softbutton:link {
    text-decoration: none;
}


.softbutton {
    border-radius: 5px;
    border: 2px solid #155e27;
    background-color: #2d831c;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-family: 'ProtoPixel';
    font-size: 30px;
    width: 150px;
    box-sizing: border-box;
    transition: 0.5s;
    -moz-transition: 0.5s;
    transition-property: all;
}

.softbutton_ex {
    border-radius: 5px;
    color: white;
    transition: 0.5s;
    -moz-transition: 0.5s;
    background-size: 9vw;
    background-position: center;
    background-repeat: no-repeat;
}

#win11 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Windows_11_logo.svg/2560px-Windows_11_logo.svg.png);
    display: block;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
}

#win10 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Windows_10_Logo.svg/1920px-Windows_10_Logo.svg.png);
    display: block;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
}

#win8 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Windows_8_logo_and_wordmark.svg/1920px-Windows_8_logo_and_wordmark.svg.png);
    display: block;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
}

#win7 {
    background-image: url(https://upload.wikimedia.org/wikipedia/it/thumb/4/49/Logo_Microsoft_Windows_7.svg/2560px-Logo_Microsoft_Windows_7.svg.png);
    display: block;
    filter: none;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
}

#vista {
    background-image: url(../images/Windows_Vista_logo.svg.png);
    display: block;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
    filter: none;
    backdrop-filter: blur(5px);
}

#me {
    background-image: url(https://www.betaarchive.com/wiki/images/7/73/Windows_ME_Logo.png);
    image-rendering: crisp-edges;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
}

#mediv {
    border: 2px solid #649399;
    background-color: white;
    transition: 0.5s;
}

#win2000 {
    background-image: url(../images/win2000logo.png);
    display: block;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
}

#win2000div {
    border: 2px solid #649399;
    background-color: white;
    transition: 0.5s;
}

#xp {
    background-image: url(../images/Microsoft_Windows_XP_Logo.svg.png);
    display: block;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
    backdrop-filter: blur(5px);
}

#xpdiv {
    border: 2px solid #649399;
    background-image: url(https://wallpaperaccess.com/full/90278.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

#vistadiv {
    border: 2px solid #214142;
    background: url(https://c4.wallpaperflare.com/wallpaper/1003/80/842/windows-vista-original-logon-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

#win11div {
    border: 2px solid #25407c;
    transition: 0.5s;
    background-color: #182652;
}

#win10div {
    border: 2px solid #0b3e72;
    transition: 0.5s;
    background-color: #183152;
}

#win8div {
    border: 2px solid #1c0338;
    transition: 0.5s;
    background-color: #2d045c;
    background-size: cover;
    background-repeat: no-repeat;
}

#win7div {
    border: 2px solid #0b3e72;
    transition: 0.5s;
    background: url(https://wallpapercave.com/wp/wp8729295.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#win98div {
    border: 2px solid #174930;
    transition: 0.5s;
    background-size: cover;
    background: url(https://i.redd.it/55673b3dfo191.png);
}

#win98 {
    background-image: url(../images/windows98.png);
    display: block;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
}

#nt35div {
    border: 2px solid #535244;
    transition: 0.5s;
    background: url(../images/dither_it_bg.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#nt35 {
    background-image: url(../images/winnt35logo.svg);
    image-rendering: crisp-edges;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
    filter: drop-shadow(0 3px 4px rgb(0, 0, 0))
}

#sys {
    background-image: url(../images/systembox.png);
    image-rendering: crisp-edges;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
}

#sysdiv {
    border: 2px solid #535244;
    transition: 0.5s;
    background: url(../images/systembg.svg);
    background-repeat: repeat;
}

#nt4div {
    border: 2px solid #173149;
    transition: 0.5s;
    background: url(https://cdn.wallpapersafari.com/61/31/0MXQKU.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#nt4 {
    background-image: url(../images/nt4.png);
    display: block;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
    filter: drop-shadow(0 0 0px rgb(134, 207, 255))
}

#srv03div {
    border: 2px solid #4d4d4d;
    transition: 0.5s;
    background: url(../images/srv2003bg.png);
    background-size: cover;
    background-position: 0 -40px;
}

#srv03 {
    background-image: url(../images/srv2003logo.png);
    display: block;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
    filter: drop-shadow(2px 2px 3px rgb(58, 58, 58))
}

#srv08div {
    border: 2px solid #4d4d4d;
    transition: 0.5s;
    background: url(https://static.miraheze.org/windowswallpaperwiki/9/97/Setup_background_%28Windows_Server_2008_%28Window%29_%26_2008_R2%29.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#srv08 {
    background-image: url(../images/server2008logohori.png);
    display: block;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
    filter: drop-shadow(0 0 0px rgb(189, 189, 189))
}

#srv12div {
    border: 2px solid rgb(19, 9, 102);
    transition: 0.5s;
    background: #001589;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#srv16 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/ba/Windows_Server_2016_logo.svg);
    display: block;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
    filter: drop-shadow(0 0 2px rgb(126, 126, 126))
}

#srv16div {
    border: 2px solid rgb(165, 165, 165);
    transition: 0.5s;
    background: #ffffff;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#srv {
    background-image: url(https://betawiki.net/images/2/26/Windows_Server_logo.svg);
    display: block;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
}

#srvdiv {
    border: 2px solid rgb(165, 165, 165);
    transition: 0.5s;
    background: #ffffff;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#srv12 {
    background-image: url(../images/srv2012logo.svg);
    display: block;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
    filter: drop-shadow(0 2px 2px rgb(87, 87, 87))
}


#win95 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Microsoft_Windows_95_logo_with_wordmark.svg/5782px-Microsoft_Windows_95_logo_with_wordmark.svg.png);
    display: block;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
    filter: none;
}

#win95div {
    border: 2px solid #004d4d;
    background: #018281;
    transition: 0.5s;
    background-size: cover;
    background-position: bottom;
}

#win31 {
    background-image: url(../images/win31.png);
    display: block;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
    image-rendering: auto;
    filter: none;
}

#win31div {
    border: 2px solid #173949;
    transition: 0.5s;
    background-color: #3da0c7;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#win123 {
    background-image: url(../images/win123.png);
    display: block;
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
    image-rendering: auto;
    filter: none;
}


#mddiv {
    border: 2px solid #44003e;
    transition: 0.5s;
    background: linear-gradient(#ff0000, #0000FF);
}

#md {
    background-image: url(../images/mdwin.svg);
    display: block;
    filter: drop-shadow(0 1px 1px rgba(17, 26, 109, 0.712));
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
    image-rendering: auto;
}

#winem2009div {
    border: 2px solid #173949;
    transition: 0.5s;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/74c3ad32-ce0a-4e42-9494-7de4536aaea9/ddy5em6-ce6ae2be-bca0-4efa-804a-3708db9c8f02.jpg/v1/fill/w_1280,h_960,q_75,strp/windows_embedded_posready_2009__no_logo__by_dvorak128_ddy5em6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTYwIiwicGF0aCI6IlwvZlwvNzRjM2FkMzItY2UwYS00ZTQyLTk0OTQtN2RlNDUzNmFhZWE5XC9kZHk1ZW02LWNlNmFlMmJlLWJjYTAtNGVmYS04MDRhLTM3MDhkYjljOGYwMi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ZAyOw00EqVMcKR2niCBwcwSXh_m84yT1wwUMOOWtG70");
    background-size: cover;
}

#winem2009 {
    background-image: url(../images/winem2009logo.svg);
    display: block;
    filter: drop-shadow(0 1px 1px rgba(17, 26, 109, 0.712));
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
    image-rendering: auto;
}

#winem7div {
    border: 2px solid #173949;
    transition: 0.5s;
    background-image: url("https://wallpapercave.com/wp/wp8729295.jpg");
    background-size: cover;
}

#winem7 {
    background-image: url(../images/winem7logo-svg.svg);
    display: block;
    filter: drop-shadow(0 1px 1px rgba(17, 26, 109, 0.712));
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
    image-rendering: auto;
}

#winem8div {
    background: url("https://i.imgur.com/Ix90YjI.png") padding-box, linear-gradient(90deg, rgb(30, 152, 233), rgb(194, 122, 28)) border-box;
    border: 2px solid transparent;
    transition: 0.5s;
    background-size: cover;
    background-position: center;
}

#winem8 {
    background-image: url(https://betawiki.net/images/1/17/Windows_Embedded_8_logo_and_wordmark.svg);
    display: block;
    backdrop-filter: blur(5px);
    filter: drop-shadow(1px 1px 3px rgb(0, 67, 112));
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
    image-rendering: auto;
}

#pocket2000div {
    background-color: white;
    border: 2px solid rgb(187, 187, 187);
    transition: 0.5s;
    background-size: cover;
    background-position: center;
}

#pocket2000 {
    background-image: url(../images/PPC2000logo.svg);
    display: block;
    backdrop-filter: blur(5px);
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
    image-rendering: auto;
}

#pocket2002div {
    background-color: white;
    border: 2px solid rgb(187, 187, 187);
    transition: 0.5s;
    background-size: cover;
    background-position: center;
}

#pocket2002 {
    background-image: url(../images/ppc2002logo.svg);
    display: block;
    backdrop-filter: blur(5px);
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    padding: 3.2vh 5.53vw 3.2vh 5.53vw;
    image-rendering: auto;
}

#win123div {
    border: 2px solid #1a1749;
    transition: 0.5s;
    background-color: #2000af;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}


.softbutton_ex:hover {
    padding: 3vh;
    padding-right: 4vw;
    background-size: 10vw;
    font-size: 32px;
}

#me:hover {
    filter: drop-shadow(0 0 5px rgb(94, 141, 92));
}

#win95:hover {
    filter: drop-shadow(0 0 8px rgb(255, 255, 255));
}

#win123:hover {
    filter: drop-shadow(0 0 2px rgb(255, 255, 255));
}

#win31:hover {
    filter: drop-shadow(0 0 2px rgb(255, 255, 255));
}

#nt35:hover {
    filter: drop-shadow(0 3px 2px rgb(63, 63, 63));
}

#nt4:hover {
    filter: drop-shadow(0 4px 1px rgb(126, 191, 245));
}

#srv03:hover {
    filter: drop-shadow(0 2px 1px rgb(43, 43, 43));
}

#srv08:hover {
    filter: drop-shadow(0 2px 1px rgb(0, 0, 0));
}

#srv12:hover {
    filter: drop-shadow(0 2px 1px rgb(165, 165, 165));
}

#srv16:hover {
    filter: drop-shadow(0 2px 1px rgb(165, 165, 165));
}

#win98:hover {
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
}

#win2000:hover {
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
}

#xp:hover {
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
    backdrop-filter: blur(0px);
}

#vista:hover {
    filter: drop-shadow(0 0 2px #fff);
    backdrop-filter: blur(0px);
}

#win7:hover {
    filter: drop-shadow(0 0 2px rgb(255, 255, 255));
}

#win8:hover {
    background-color: #57189e;
}

#win10:hover {
    background-color: #2a5792;
}

#win11:hover {
    background-color: white;
}

.softbutton:hover {
    background-size: 11vw;
    background-color: #5851b9;
    font-size: 32px;
}

@keyframes hover {
    0% {
        padding: 16px;
    }

    100% {
        padding: 20px;
    }
}

body {
    background-color: black;

}

#osflex-1,
#osflex-2 {
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#osinflex-consumer,
#osinflex-server,
#osinflex-embedded,
#osinflex-mobile   {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.textseperator {
    color: white;
    font-family: 'Rubik';
    margin: 0;
    border: 2px solid white;
    border-radius: 7px;
    text-align: center;
    height: 22px;
    width: 14vw;
}

@font-face {
    font-family: 'Rubik';
    src: url('../Fonts/Rubik.ttf');
}

#credits {
    color: white;
    font-family: 'Rubik';
    display: inline-flex;
    position: absolute;
    font-size: 80%;
    bottom: 0;
    right: 0;
}

.textseperator {
    color: white;
    position: relative;
    margin: 0;
    font-family: 'Rubik';
    text-align: center;
    font-size: 1vw
}

li {
    display: inline;
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: bolder;
    border: 2px solid white;
    padding: 8px;
    border-radius: 4px;
}

ul {
    padding: 0;
    margin: 0;
    column-gap: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-list-item {
    background-color: #969696;
    transition: 0.3s;
    cursor: default;
}

.deactive-list-item {
    background-color: #000000;
    transition: 0.5s;
    cursor: pointer;
}

/** Mozilla Firefox */
@-moz-document url-prefix() {
    #vista {
        backdrop-filter: none;
    }

    #xp {
        backdrop-filter: none;
    }
}

@media only screen and (max-width: 600px) {
    #osflex-1 {
        flex-direction: column;
        height: 280px;
    }

    #osflex-2 {
        height: 120px;
    }

    #win11,
    #win10,
    #win8,
    #win7,
    #vista,
    #xp,
    #win2000,
    #me,
    #win98,
    #win95,
    #win31,
    #win123,
    #srv,
    #srv16,
    #srv12,
    #srv08,
    #srv03,
    #nt4,
    #nt35 {
        padding: 2.3vh 10.53vw 2.3vh 10.53vw;
        background-size: contain;
    }
}