body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("https://static.miraheze.org/windowswallpaperwiki/9/97/Setup_background_%28Windows_Server_2008_%28Window%29_%26_2008_R2%29.png");
  background-position-y: bottom;
  background-size:cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Lexend';
}

#aeroborder {
  text-align: center;
  width: 40vw;
  padding-top: 34px;
  height: 67vh;
  border:1px solid rgba(2,3,4,0.86);
  display:inline-flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;  
  background:repeating-linear-gradient(45deg, rgb(99 99 99 / 95%) 75%, rgba(209, 209, 209, 0.75) 40%, rgb(165 165 165 / 75%) 42%, rgb(135 135 135 / 75%) 50%, rgb(187 187 187 / 75%) 55%, rgb(177 177 177 / 75%) 60%, rgb(193 193 193 / 75%) 75%, rgb(199 199 199 / 75%) 90%);
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px rgba(246,246,247,0.92), 0 7px 19px rgba(0,0,0,0.9);
  font-family: 'SegoeUIWin11';
}

#logo {
  max-height: 27vh;
  max-width: 27vw;
  margin-bottom:5%;
  position:relative;
  image-rendering: crisp-edges;
}
.center {
  text-align: center;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

select#build{
  opacity: 1;
}

button[type="submit"] {
  width:100px;
  position: absolute;
  bottom:18%;
  right: 32%;
  cursor: default;
  font-size: 1em;
  transition: all 0.5s;
}

button:hover {
  transition: all 0.5s;
}

.slide-down {
  transform: translateY(100px); /* Slide button down */
}

.slide-up {
  transform: translateY(0); /* Slide button back up */
}


select.show {
  opacity: 1;
}

/* Add a CSS class for fade-in animation */
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Display elements after fade-in animation */
.show {
  opacity: 1;
}

form {
  text-align: center;
  width: 39vw;
  height: 65vh;
  border: 1px solid rgba(24,29,31,0.71);
  border-radius: 1px;
  display:inline-flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;  
  background:white;
  font-family: 'SegoeUIWin11';
}

select {
    font: 12pt 'Segoe UI',sans-serif;
    width: 20em;
    margin-bottom: 5px;
    max-width: 100%;
}

select:focus {
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  background-image: url(../../images/Arrow-down.svg);
}

@font-face {
  font-family: 'SegoeUIWin11';
  src: url('../../Fonts/Segoe-UI-Variable-Static-Text.ttf');
}

@media only screen and (max-width: 700px) {
  #aeroborder {
    width:82vw;
    height:42vh;
  }
  form {
    height:40vh;
    width: 80vw;
  }
  button[type="submit"] {
    right: auto;
    bottom: 0;
    position:relative;
  }
  #logo {
    max-width: 70vw;
    padding: 0;
    margin-bottom: 9px;
  }
}