body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url(../../images/systembg.svg);
  color: #fff;
  font-family: 'Lexend';
  cursor: url('../../WinSiteCursors/cursor.cur'), auto;
} 

.title-bar .title {
  font-weight: 200;
  text-rendering: optimizeLegibility;
}

.window {
  width: 35%;
}

.window-pane {
  padding: 6rem 2rem;
}

#logo {
  max-height: 27vh;
  max-width: 27vw;
  margin-bottom: 2%;
  position:relative;
  image-rendering: crisp-edges;
}
.center {
  text-align: center;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

select#build{
  opacity: 1;
}

button[type="submit"] {
  cursor: url('../../WinSiteCursors/cursor.cur'), auto;
}

.slide-down {
  transform: translateY(100px); 
}

.slide-up {
  transform: translateY(0);
}


select.show {
  opacity: 1;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.show {
  opacity: 1;
}

.window-pane {
  width:90.5%;
  text-align: center;
  border-radius: 1px;
  display:inline-flex;
  flex-direction: column;
  border-top-width: 2px;
  border-top-style: solid;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;  
  font-family: 'SegoeUIWin11';
}


select {
    width: 20rem;
    margin-bottom: 5px;
    max-width: 100%;
    cursor: url('../../WinSiteCursors/cursor.cur'), auto;
}

@font-face {
  font-family: 'SegoeUIWin11';
  src: url('../../Fonts/Segoe-UI-Variable-Static-Text.ttf');
}

@font-face {
  font-family: 'MSSansSerif';
  src: url('../../Fonts/ms-sans-serif-1.ttf');
}

@media only screen and (max-width: 600px) {
  #aeroborder {
    width:82vw;
    height:42vh;
  }
  form {
    height:85vh;
  }
  button[type="submit"] {
    margin-top: 5%;
    position:static;
  }
  #logo {
    max-width: 70vw;
    padding: 0;
    margin-bottom: 9px;
  }
}
