body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("../../images/setupbgwin11.png");
  background-size: cover;
  color: #fff;
  font-family: 'Lexend';
}
#logo {
  max-height: 25vh;
  max-width: 25vw;
  padding: 20px 0;
  position:relative;
}
.center {
  text-align: center;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

select, input[type="submit"] {
  border-radius: 10px;
  opacity: 1;
  -webkit-appearance: none;
  transition: opacity 0.5s ease-in-out;
  font-family: 'SegoeUIWin11';
  font-size: 1em;
}
select#build{
  opacity: 1;
}

input[type="submit"] {
  height: 50px;
  width:140px;
  background-color: #bbbec2;
  color: white;
  border: none;
  position: absolute;
  bottom:18%;
  right: 32%;
  cursor: default;
  transition: background-color 0.5s;
}


input[type="submit"].blue {
  background-color: #0067c0;  
  color: white;
  border: none;
}

input[type="submit"].blue:hover {
  background-color: #1775c5;  
  transition: none !important;
}

input[type="submit"].blue:active {
  background-color: #003d72;  
  transition: none !important;
}

.slide-down {
  transform: translateY(100px); /* Slide button down */
}

.slide-up {
  transform: translateY(0); /* Slide button back up */
}


select.show {
  opacity: 1;
}

/* Add a CSS class for fade-in animation */
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Display elements after fade-in animation */
.show {
  opacity: 1;
}

form {
  text-align: center;
  width: 40vw;
  height: 70vh;
  display:inline-flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;  
  background-color:rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.3);
  font-family: 'SegoeUIWin11';
}

select {
    appearance: none;
    padding: 8px;
    width: 20em;
    margin-bottom: 5px;
    max-width: 100%;
    border: none;
    position:relative;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 1;
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg);
    background-position: 100%;
    background-size: 20px;
    background-repeat: no-repeat;
}

select:focus {
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  background-image: url(../../images/Arrow-down.svg);
}

@font-face {
  font-family: 'SegoeUIWin11';
  src: url('../../Fonts/Segoe-UI-Variable-Static-Text.ttf');
}

@media only screen and (max-width: 600px) {
  form {
    height:40vh;
    width: 80vw;
  }
  input[type="submit"] {
    bottom:33vh;
    right: auto;
  }
  #logo {
    max-width: 70vw;
    padding: 0;
    margin-bottom: 9px;
  }
}