body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #333;
  color: #fff;
  font-family: 'Lexend';
}
#logo {
  display: block;
  margin: 0 auto;
  max-width: 25vw;
  padding: 20px 0;
}
.center {
  text-align: center;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

select, input[type="submit"] {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  font-family: 'Lexend';
  font-size: 1.5em;
}
select#build{
  opacity: 1;
}
input[type="submit"] {
  background-color: #666666;
  color: white;
  border: none;
  cursor: pointer;
  transform: translateY(0); /* Initial position, no translation */
  transition: transform 0.5s ease-in-out; /* Apply transition to the transform property */
}
input[type="submit"].blue {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.slide-down {
  transform: translateY(100px); /* Slide button down */
}

.slide-up {
  transform: translateY(0); /* Slide button back up */
}


select.show {
  opacity: 1;
}
/* Add a CSS class for fade-in animation */
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Display elements after fade-in animation */
.show {
  opacity: 1;
}
form {
  text-align: center;
  width: 40vw;
  margin: 0 auto;
  padding: 20px;
  border: 4px solid #5f5e5e;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Lexend', sans-serif;
}
select {
    appearance: none;
    padding: 8px;
    width: 100%;
    max-width: 300px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    opacity: 1;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg);
    background-position: 100%;
    background-size: 20px;
    background-repeat: no-repeat;
}

select:focus {
  outline: none;
  background-color: #555;
  background-image: url(../../images/Arrow-down.svg);
}


