
a {
    font-family:'Courier New', Courier, monospace;
}
.softbutton:link {
    text-decoration: none;
}


.softbutton {
    border-radius:5px;
    border: 2px solid #155e27;
    background-color: #2d831c;
    padding: 20px;
    color:white;
    font-weight:bold;
    font-family:'ProtoPixel';
    font-size: 30px;
    width: 150px;
    box-sizing: border-box;
    transition: 0.5s;
}

.softbutton_ex{
    border-radius:5px;
    padding: 22px;
    padding-right: 200px;
    color:white;
    transition: 0.5s;
    background-size:200px;
    background-position: center;
    background-repeat: no-repeat;
}

#win11{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Windows_11_logo.svg/2560px-Windows_11_logo.svg.png);
    border: 2px solid #1c5d92;
    background-color: #11193a;
}

#win10{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Windows_10_Logo.svg/1920px-Windows_10_Logo.svg.png);
    border: 2px solid #0006a8;
    background-color: #11193a;
}

#win8{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Windows_8_logo_and_wordmark.svg/1920px-Windows_8_logo_and_wordmark.svg.png);
    border: 2px solid #491f79;
    background-color: #2e113a;
}

#win7{
    background-image: url(https://upload.wikimedia.org/wikipedia/it/thumb/4/49/Logo_Microsoft_Windows_7.svg/2560px-Logo_Microsoft_Windows_7.svg.png);
    display:block;
    filter: none;
    padding: 31px;
    padding-right:200px;
}

#vista{
    background-image: url(Windows_Vista_logo.svg.png);
    display: block;
    padding: 31px;
    padding-right:200px;
    backdrop-filter: blur(5px);  
}

#me{
    background-image: url(https://www.betaarchive.com/wiki/images/7/73/Windows_ME_Logo.png);
    display: block;
    padding: 31px;
    padding-right:200px;
    backdrop-filter: blur(5px);  
}

#mediv{
    border: 2px solid #649399;
    background-color: white;
    transition: 0.5s;
}

#win2000{
    background-image: url(win2000logo.png);
    display: block;
    padding: 31px;
    padding-right:200px;
    backdrop-filter: blur(5px);  
}

#win2000div{
    border: 2px solid #649399;
    background-color: white;
    transition: 0.5s;
}

#xp{
    background-image: url(Microsoft_Windows_XP_Logo.svg.png);
    display: block;
    padding: 31px;
    padding-right:200px;
    backdrop-filter: blur(5px);  
}

#xpdiv{
    border: 2px solid #649399;
    background-image: url(https://wallpaperaccess.com/full/90278.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

#vistadiv{
    border: 2px solid #649399;
    background: url(https://c4.wallpaperflare.com/wallpaper/1003/80/842/windows-vista-original-logon-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

#win7div{
    border: 2px solid #0b3e72;
    transition: 0.5s;
    background: url(https://wallpapercave.com/wp/wp8729295.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.softbutton_ex:hover {padding: 22px; padding-right: 220px; background-size: 220px; font-size: 32px;}
#me:hover{filter: drop-shadow(0 0 5px rgb(94, 141, 92)); padding:34px; padding-right:220px; backdrop-filter: blur(0px);}
#win2000:hover{filter: drop-shadow(0 0 5px rgb(0,0,0)); padding:34px; padding-right:220px; backdrop-filter: blur(0px);}
#xp:hover{filter: drop-shadow(0 0 3px rgb(0,0,0)); padding:34px; padding-right:220px; backdrop-filter: blur(0px);}
#vista:hover{filter: drop-shadow(0 0 1px rgb(255,255,255)); padding:34px; padding-right:220px; backdrop-filter: blur(0px);}
#win7:hover {filter: drop-shadow(0 0 2px rgb(255,255,255)); padding:34px; padding-right:220px;}
#win8:hover {background-color: #8036a0;}
#win10:hover {background-color: rgb(17, 0, 100);}
#win11:hover {background-color: white;}
.softbutton:hover {padding: 22px;  background-size: 220px; background-color:#5851b9; font-size: 32px;}

@keyframes hover {
    0% {padding: 16px;}
    100% {padding: 20px;}
}

body {
    background-color:black;
    
}

.flex {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: inline-flex;
    gap: 60px;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik.ttf');
}


@font-face {
    font-family: 'ProtoPixel';
    src: url('ProtoPixel1.ttf');
}

#credits {
    color:white;
    font-family: 'Rubik';
    display:inline-flex;
    position: absolute;
    bottom: 25;
    right: 20;
}