.container {
  display: inline-flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

html, body {
  background: url(../images/patterngame.png);
  background-size:468px;
  margin: 0;
  background-color:#131313;
  overflow-y:hidden;
}

/* OTHER STYLES */

.container_body {
  height: 100vh;
  flex-flow:wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  align-items: center;
  position: relative;
}

.game {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 7px;
  border: 4px solid #ffffff;
  transition: 0.5s;
}

#GRID-1 {
  background-image: url(https://m.gjcdn.net/game-thumbnail/500/764231-crop82_51_1271_720-zw3rcmxn-v4.webp);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  display:flex;
  align-items: center;
  width:250px;
  height:150px;
  cursor:pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 10px;
  border: 3px solid #4e4537 ;
  transition: 0.5s;
}

.game.item3 {  
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  display:flex;
  align-items: center;
}

@font-face {
  font-family: 'Rubik';
  src: url('../Rubik.ttf');
}

#GRIDB-1 {
  font-family: 'Rubik';
  color:white;
  position:relative;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width:100%;
  height:100%;
  text-decoration: none;
  flex-wrap: wrap;
  backdrop-filter: blur(2px);
}

#GRIDB-2 {
  color:white;
  background-size:cover;
  border-radius: 10px;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  width:100%;
  height:100%;
  text-decoration: none;
  transition: 0.5s;
}

#GRIDB-2:visited {
  text-decoration: none;
}

#LOGO-1 {
  position:absolute;
  transition: all 0.5s ease;
  filter:drop-shadow(1px 1px 1px rgb(0, 0, 0));
  transform: scale(1);
  top: 30%;
  cursor:default;
}

#YEAR-1 {
  position:absolute;
  transition: all 0.5s ease;
  filter:drop-shadow(1px 1px 1px rgb(0, 0, 0));
  transform: translateY(20px);
  font-size: 14px;
  cursor:default;
}

#YEAR-2 {
  position:absolute;  
  transition: all 0.5s ease;
  filter:drop-shadow(1px 1px 1px rgb(0, 0, 0));
  transform: translateY(100px);
  margin:0;
  font-size: 14px;
  font-family: 'Rubik';
  cursor:default;
}


#LOGO-2 {
  background-image: url(https://cdn.discordapp.com/attachments/834390968110415882/1018463610109960242/JA3_LOGO.png);
  background-size:contain;
  background-position: 0;
  height:100px;
  width: 200px;
  background-repeat: no-repeat; 
  transition: all 0.5s ease;
  position:relative;
  top:50%;
  transform:translateY(-50%);
  filter: drop-shadow(0px 6px 0 #000000);
}

#GRID-2 {
  background-image: url(https://m.gjcdn.net/game-header/1900/758078-4itnpmdv-v4.webp);
  background-position-x: center;
  cursor:pointer;
  background-size: cover;
  background-repeat: no-repeat;
  display:inline-flex;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 10px;
  border: 3px solid #343e4b;
  transition: 0.5s;
}

.fade-in {
 opacity: 0;
 transition: opacity 1s ease-in-out;
}

#downbtn2 {
  border: 2px solid white;
  border-radius: 10px;
  width:200px;
  height:70px;
  color: white;
  font-size:23px;
  font-family: 'Rubik';
  background-color: #3b404e;
  bottom: 10px;
  position: relative;
}

#downbtn1 {
  border: 2px solid white;
  bottom:10px;
  border-radius: 10px;
  width:200px;
  height:70px;
  font-size:23px;
  color: white;
  cursor:pointer;
  font-family: 'Rubik';
  background-color: #0f8a04;
}

#dese1 {
  filter:drop-shadow(1px 1px 1px rgb(0, 0, 0));
  position:relative;
  top:20%;
  cursor:default;
}

#dese2 {
  cursor:default;
  position: relative;
  bottom:20px;  
}

#RCONTAINER-1 {
  display:flex;
  justify-content: center;
  align-items:center;
  position:relative;
  transition: all 0.5s ease;
}
.yeargap {
  padding-top: 120px;
}

.selected {
  width:400px;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    gap: 30px;
  }
  .yeargap {
    padding-top: 0px;
    padding-right: 120px;
  }
  .selected {
    width: 95%
  }
}