.container {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}



body {
  background-color: #3b404e;
}

/* OTHER STYLES */

.container_body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
  border: 6px solid #171717;
  transition: 0.5s;
}

#GRID-1 {
  background-image: url(https://m.gjcdn.net/game-thumbnail/500/764231-crop82_51_1271_720-zw3rcmxn-v4.webp);
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  align-items: center;
  width:250px;
  height:150px;
  cursor:pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
  border: 6px solid #171717;
  transition: 0.5s;
}

.game.item3 {  
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  display:flex;
  align-items: center;
}

@font-face {
  font-family: 'Rubik';
  src: url('../Rubik.ttf');
}

#GRIDB-1 {
  font-family: 'Rubik';
  color:white;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  text-decoration: none;
  flex-wrap: wrap;
  backdrop-filter: blur(2px);
}

#GRIDB-2 {
  background: url(https://m.gjcdn.net/game-header/1900/758078-4itnpmdv-v4.webp);
  color:white;
  background-position: 500px;
  background-size:cover;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  width:100%;
  height:100%;
  text-decoration: none;
  transition: 0.5s;
}

#GRIDB-2:visited {
  text-decoration: none;
}

#LOGO-1 {
  position: absolute;
  transition: all 0.5s ease;
  filter:drop-shadow(1px 1px 1px rgb(0, 0, 0));
  transform:scale(100%);
  top:50%;
}


#LOGO-2 {
  background-image: url(https://cdn.discordapp.com/attachments/834390968110415882/1018463610109960242/JA3_LOGO.png);
  background-size:contain;
  background-position: 0;
  height:100px;
  width: 200px;
  background-repeat: no-repeat; 
  transition: all 0.5s ease;
  position:relative;
  top:50%;
  transform:translateY(-50%);
}

#GRID-2 {
  cursor:pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display:inline-flex;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
  border: 6px solid #171717;
  transition: 0.5s;
}

/* Used for Javascript (don't touch) */
.fade-in {
 opacity: 0;
 transition: opacity 1s ease-in-out;
}

.game:hover {border: 3px solid white;}

#downbtn2 {
  border: 2px solid white;
  border-radius: 10px;
  width:200px;
  height:70px;
  color: white;
  font-size:23px;
  font-family: 'Rubik';
  background-color: #3b404e;
  bottom: 10px;
  position: relative;
}

#downbtn1 {
  border: 2px solid white;
  bottom:10px;
  border-radius: 10px;
  width:200px;
  height:70px;
  font-size:23px;
  color: white;
  cursor:pointer;
  font-family: 'Rubik';
  background-color: #0f8a04;
}

#dese1 {
  filter:drop-shadow(1px 1px 1px rgb(0, 0, 0));
  top:20%;
}

#dese2 {
  position: relative;
  bottom:20px;  
}